/**
 * default template
 * -------
*/

.rof-section{
	position: relative;
	h4.rof-question{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	time{
		font-size: .9em;
		font-weight: normal;
	}
	a{
		&:focus, &:link, &:active{
			outline: 0 none;
			color: #0082d5;
		}
		&:hover{
			// opacity: 0.7;
		}
		&.enabled{}
		&.disabled{
			pointer-events: none;
			opacity: 0.5;
		}
		&.adm-edit{
			text-transform: none;
			font-style: italic;
			font-size: .9em;
			font-weight: normaldisabl		}
	}
	fieldset{
		border: 0 none;
		margin-top: 10px;
	}
	.rof-list{
		position: relative;
		.rof-item{
			padding-top: 10px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e5e5e5;
			position: relative;
			*{
				font-size: 13px;
				line-height: 20px;
			}
			.rof-question, .rof-answer, .more-answers-block, .more-answers-block li{
				margin-top: 10px;
			}
			p{
				margin: 0;
			}
			span{
				&.search-request{
					color: red;
				}
			}
			.title{
				display: inline-block;
				width: 9%;
				min-width: 68px;
				font-weight: 600;
				vertical-align: top;
			}
			.content{
				display: inline-block;
				width: 90%;
			}
			.rof-likes{
				position: absolute;
				right: 0;
				bottom: 20px;
				.like-action{
					cursor: pointer;
					text-decoration: none;
					opacity: .5;
					i{
						font-size: 1.3em;
					}
					&.disabled{
						opacity: 1;
					}
					&.like{
						margin-right: 5px;
					}
					&.dislike{
						margin-left: 5px;
					}
				}
			}
			
		}
		.more-answers-block{
			a.more-answers{
			}
			ul.more-answers-list{
				display: none;
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					margin-bottom: 0;
						padding-left: 0;
					&.more-answer-item{
						p{
							&.more-answer-content{}
						}
					}
					&:before{
						content: none;
						padding-left: 20px;
					}
				}
			}
		}
	}

	.rof-responce-control-block{
		margin-top: 30px;
		.show-more, .hide-more, .rof-add-question{
			display: inline-block;
			float: right;
			margin-left: 1%;
		}
		@include cfx;
	}

	.add-question-link{
		cursor: pointer;
		text-decoration: none;
		&:hover{
		}
	}

	.faq-preload, .faq-add-preload{
		display: none;
		position: absolute; 
		top: 0; 
		left: 0; 
		height: 100%; 
		width: 100%; 
		overflow: hidden; 
		vertical-align: bottom; 
		background: #ffffff no-repeat center; opacity: 0.8; z-index: 10003; 
		cursor: wait; 
		transition: opacity .5s ease-in-out; 
	}

	.rof-add-question-block .input-field{
		vertical-align: top;
	}
	
}

// add question popup

.overlay-rof{
	display: none;
	background-color: rgba(34, 34, 34, .9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
}
.popup-rof{
	min-width: 275px;
}
.popup-rof-add-question, .popup-rof-add-question-responce, .popup-rof-no-auth{
	display: none;
	width: 570px;
	top: 100px;
	left: 50%;
	margin-left: -285px;
	height: auto;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	z-index: 2001;
	background-color: #fff;

	.popup-rof-add-question-header{
		border-radius: 5px 5px 0 0;
		position: relative;
		padding: 25px 30px;
		background-color: #F7F7F7;
		border-bottom: 1px solid #E4E4E4;
		h2{
			display: inline-block;
			margin: 0;
			font-weight: 500;
			text-shadow: none;
			color: #3d4d65;
			font-size: 22px;
			font-family: "OpenSans-Regular";
			letter-spacing: 0.4px;
			line-height: 15px;
			text-transform: uppercase;
		}
		a.x-popup-close{
			display: inline-block;
			text-decoration: none;
			vertical-align: 5px;
			position: absolute;
			right: 30px;
			margin-top: 4px;
			i{
				display: block;
				border-radius: 0px;
				width: 14px;
				height: 14px;
				opacity: 1;
				background: url(./images/close_icons.png) -1px -46px no-repeat;
			}
		}
	}

	.popup-rof-add-question-body{
		padding: 30px 30px;
		.rof-add-question-form{
			.input-block{
				img{
					margin-right: 3%;
					width: 20%;
					height: auto;
				}
				textarea{
					width: 76%;
					font-size: 14px;
					line-height: 16px;
					color: #999999;
					padding: 15px 15px;
					background-color: #F7F7F7;
					border: 1px solid #E4E4E4;
					height: 102px;
					min-height: 102px;
					resize: vertical;
					float: right;
					&.error{
						border-color: #FF7362;
					}
					&.full{
						width: 100%;
					}
				}
				@include cfx;
			}
			.input-report{
				display: none;
				text-align: right;
				margin-top: 10px;
				&.error{
					color: #FF7362;
				}
			}
			.control-block{
				margin-top: 26px;
				margin-bottom: 4px;
				text-align: right;
				.btn{
					color: #fff;
					background-color: #4DAF7C;
					font-size: 18px;
					line-height: 22px;
					font-weight: 600;
					&:hover{
						background-color: #67BD90;
					}
					&.disable{

					}
				}
			}
		}
	}
}

.popup-rof-add-question{
}
// чтобы убрать скролл при активном попапе
body.fix{
	overflow: hidden !important;
}

/**
 * <=  570
 * ----------------------------------------------------------------------------
*/
@media (max-width: 570px) {
	.popup-rof{
		width: 100%;
		margin-left: 0;
		left: 0;
	}
}

/**
 * <=  440
 * ----------------------------------------------------------------------------
*/
@media (max-width: 440px) {
	.rof-section .rof-list .rof-item .rof-likes{
		position: static;
		margin-top: 11px;
	}
}

/**
 * <=  440
 * ----------------------------------------------------------------------------
*/
@media (max-width: 360px) {
	.popup-rof{
		.popup-rof-add-question-header h2{
			font-size: 1em;
		}
	}
}
