/**
 * default template
 * -------
*/
.rasg-section{
	margin-bottom: 15px;
}
	.rasg-section ul.rasg-list{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.rasg-section li{
		text-align: center;
		margin: 0;
	}
	.rasg-section li.rasg-item p{
		margin: 0;
	}
	.rasg-section li.rasg-item{
		padding: 20px 30px 15px;
		width: 20%;
		min-height: 350px;
		margin-bottom: 15px;
	}
	.rasg-section li.plus{
		padding: 20px 10px 15px;
		margin: 0 auto;
	}

		.rasg-section li.rasg-item .condition,
		.rasg-section li.rasg-item .condition i{
			color: #2ca314;
			font-size: 24px !important;
			font-weight: 700 !important;
		}
		.rasg-section li.plus{
			font-size: 48px;
			line-height: 48px;
			font-weight: 700;
			color: #AEAEAE;
			text-align: center;
		}

/**
 * <= 630
 * ----------------------------------------------------------------------------
*/
@media (max-width: 630px) {
	.rasg-section{
		margin-bottom: 30px;
	}
	.rasg-section li.rasg-item{
		display: block;
		width: 100%;
		margin-bottom: 0;
	}
}
