/**
 * default template
 * -------
*/
.rof-section {
  position: relative; }
  .rof-section h4.rof-question {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .rof-section time {
    font-size: .9em;
    font-weight: normal; }
  .rof-section a:focus, .rof-section a:link, .rof-section a:active {
    outline: 0 none;
    color: #0082d5; }
  .rof-section a.disabled {
    pointer-events: none;
    opacity: 0.5; }
  .rof-section a.adm-edit {
    text-transform: none;
    font-style: italic;
    font-size: .9em;
    font-weight: normaldisabl; }
  .rof-section fieldset {
    border: 0 none;
    margin-top: 10px; }
  .rof-section .rof-list {
    position: relative; }
    .rof-section .rof-list .rof-item {
      padding-top: 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
      position: relative; }
      .rof-section .rof-list .rof-item * {
        font-size: 13px;
        line-height: 20px; }
      .rof-section .rof-list .rof-item .rof-question, .rof-section .rof-list .rof-item .rof-answer, .rof-section .rof-list .rof-item .more-answers-block, .rof-section .rof-list .rof-item .more-answers-block li {
        margin-top: 10px; }
      .rof-section .rof-list .rof-item p {
        margin: 0; }
      .rof-section .rof-list .rof-item span.search-request {
        color: red; }
      .rof-section .rof-list .rof-item .title {
        display: inline-block;
        width: 9%;
        min-width: 68px;
        font-weight: 600;
        vertical-align: top; }
      .rof-section .rof-list .rof-item .content {
        display: inline-block;
        width: 90%; }
      .rof-section .rof-list .rof-item .rof-likes {
        position: absolute;
        right: 0;
        bottom: 20px; }
        .rof-section .rof-list .rof-item .rof-likes .like-action {
          cursor: pointer;
          text-decoration: none;
          opacity: .5; }
          .rof-section .rof-list .rof-item .rof-likes .like-action i {
            font-size: 1.3em; }
          .rof-section .rof-list .rof-item .rof-likes .like-action.disabled {
            opacity: 1; }
          .rof-section .rof-list .rof-item .rof-likes .like-action.like {
            margin-right: 5px; }
          .rof-section .rof-list .rof-item .rof-likes .like-action.dislike {
            margin-left: 5px; }
    .rof-section .rof-list .more-answers-block ul.more-answers-list {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0; }
      .rof-section .rof-list .more-answers-block ul.more-answers-list li {
        margin-bottom: 0;
        padding-left: 0; }
        .rof-section .rof-list .more-answers-block ul.more-answers-list li:before {
          content: none;
          padding-left: 20px; }
  .rof-section .rof-responce-control-block {
    margin-top: 30px; }
    .rof-section .rof-responce-control-block .show-more, .rof-section .rof-responce-control-block .hide-more, .rof-section .rof-responce-control-block .rof-add-question {
      display: inline-block;
      float: right;
      margin-left: 1%; }
    .rof-section .rof-responce-control-block:after {
      content: ' ';
      clear: both;
      display: block;
      float: none; }
  .rof-section .add-question-link {
    cursor: pointer;
    text-decoration: none; }
  .rof-section .faq-preload, .rof-section .faq-add-preload {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    vertical-align: bottom;
    background: #ffffff no-repeat center;
    opacity: 0.8;
    z-index: 10003;
    cursor: wait;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out; }
  .rof-section .rof-add-question-block .input-field {
    vertical-align: top; }

.overlay-rof {
  display: none;
  background-color: rgba(34, 34, 34, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000; }

.popup-rof {
  min-width: 275px; }

.popup-rof-add-question, .popup-rof-add-question-responce, .popup-rof-no-auth {
  display: none;
  width: 570px;
  top: 100px;
  left: 50%;
  margin-left: -285px;
  height: auto;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 2001;
  background-color: #fff; }
  .popup-rof-add-question .popup-rof-add-question-header, .popup-rof-add-question-responce .popup-rof-add-question-header, .popup-rof-no-auth .popup-rof-add-question-header {
    border-radius: 5px 5px 0 0;
    position: relative;
    padding: 25px 30px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #E4E4E4; }
    .popup-rof-add-question .popup-rof-add-question-header h2, .popup-rof-add-question-responce .popup-rof-add-question-header h2, .popup-rof-no-auth .popup-rof-add-question-header h2 {
      display: inline-block;
      margin: 0;
      font-weight: 500;
      text-shadow: none;
      color: #3d4d65;
      font-size: 22px;
      font-family: "OpenSans-Regular";
      letter-spacing: 0.4px;
      line-height: 15px;
      text-transform: uppercase; }
    .popup-rof-add-question .popup-rof-add-question-header a.x-popup-close, .popup-rof-add-question-responce .popup-rof-add-question-header a.x-popup-close, .popup-rof-no-auth .popup-rof-add-question-header a.x-popup-close {
      display: inline-block;
      text-decoration: none;
      vertical-align: 5px;
      position: absolute;
      right: 30px;
      margin-top: 4px; }
      .popup-rof-add-question .popup-rof-add-question-header a.x-popup-close i, .popup-rof-add-question-responce .popup-rof-add-question-header a.x-popup-close i, .popup-rof-no-auth .popup-rof-add-question-header a.x-popup-close i {
        display: block;
        border-radius: 0px;
        width: 14px;
        height: 14px;
        opacity: 1;
        background: url(./images/close_icons.png) -1px -46px no-repeat; }
  .popup-rof-add-question .popup-rof-add-question-body, .popup-rof-add-question-responce .popup-rof-add-question-body, .popup-rof-no-auth .popup-rof-add-question-body {
    padding: 30px 30px; }
    .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-block img, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-block img, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-block img {
      margin-right: 3%;
      width: 20%;
      height: auto; }
    .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-block textarea, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-block textarea, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-block textarea {
      width: 76%;
      font-size: 14px;
      line-height: 16px;
      color: #999999;
      padding: 15px 15px;
      background-color: #F7F7F7;
      border: 1px solid #E4E4E4;
      height: 102px;
      min-height: 102px;
      resize: vertical;
      float: right; }
      .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-block textarea.error, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-block textarea.error, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-block textarea.error {
        border-color: #FF7362; }
      .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-block textarea.full, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-block textarea.full, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-block textarea.full {
        width: 100%; }
    .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-block:after, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-block:after, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-block:after {
      content: ' ';
      clear: both;
      display: block;
      float: none; }
    .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-report, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-report, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-report {
      display: none;
      text-align: right;
      margin-top: 10px; }
      .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .input-report.error, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .input-report.error, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .input-report.error {
        color: #FF7362; }
    .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .control-block, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .control-block, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .control-block {
      margin-top: 26px;
      margin-bottom: 4px;
      text-align: right; }
      .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .control-block .btn, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .control-block .btn, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .control-block .btn {
        color: #fff;
        background-color: #4DAF7C;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600; }
        .popup-rof-add-question .popup-rof-add-question-body .rof-add-question-form .control-block .btn:hover, .popup-rof-add-question-responce .popup-rof-add-question-body .rof-add-question-form .control-block .btn:hover, .popup-rof-no-auth .popup-rof-add-question-body .rof-add-question-form .control-block .btn:hover {
          background-color: #67BD90; }

body.fix {
  overflow: hidden !important; }

/**
 * <=  570
 * ----------------------------------------------------------------------------
*/
@media (max-width: 570px) {
  .popup-rof {
    width: 100%;
    margin-left: 0;
    left: 0; } }

/**
 * <=  440
 * ----------------------------------------------------------------------------
*/
@media (max-width: 440px) {
  .rof-section .rof-list .rof-item .rof-likes {
    position: static;
    margin-top: 11px; } }

/**
 * <=  440
 * ----------------------------------------------------------------------------
*/
@media (max-width: 360px) {
  .popup-rof .popup-rof-add-question-header h2 {
    font-size: 1em; } }
