/**
 * default template
 * -------
*/
.rasg-section.big-basket-template{
	margin-top: 15px;
	margin-bottom: 30px;
}
	.rasg-section.big-basket-template .rasg-header.aside-info-tt-wrapp{
		margin-bottom: 15px;
		vertical-align: baseline;
	}
	.rasg-section.big-basket-template .rasg-header .aside-info-tt-head{
		margin: 12px 0 0;
	}
	.rasg-section.big-basket-template .rasg-header .fa-gift{
		color: #ed1c35;
		font-size: 40px;

	}
	.rasg-section.big-basket-template ul.rasg-list{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}
	.rasg-section.big-basket-template li.rasg-item{
		text-align: center;
		margin: 0;
		padding: 10px 30px 12px;
		width: 25%;
	}
	.rasg-section.big-basket-template li.rasg-item.prod-item{
		min-width: 0;
	}
		.rasg-section.big-basket-template li.rasg-item{
			border-left: 1px solid #F7F7F7;
			border-right: 1px solid #F7F7F7;
		}
		.rasg-section.big-basket-template li.rasg-item:hover{
			box-shadow: none !important;
		}


/**
 * <= 630
 * ----------------------------------------------------------------------------
*/
@media (max-width: 1000px) {
	.rasg-section.big-basket-template li.rasg-item{
		width: 50%;
		border: 1px solid #F7F7F7;
	}
}
@media (max-width: 479px) {
	.rasg-section.big-basket-template li.rasg-item{
		width: 100%;
		border-right: 0 none !important;
	}
}
