/**
 * default template
 * -------
*/
.rasg-section{}
.rasg-section.detail-5presents{
	border-bottom: 2px solid #2ca314;
	margin-bottom: 20px;
}
	.rasg-section.detail-5presents .site-h2-h3-tt{
		background-color: #2ca314;
		color: #fff;
		padding: 5px 5px 5px;
		text-align: center;
	}
		.rasg-section.detail-5presents .site-h2-h3-tt i.fa-gift{
			font-size: larger;
			vertical-align: -2px;
		}

	.rasg-section ul.rasg-list{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.rasg-section li{
		text-align: center;
		margin: 0;
	}
	.rasg-section li.rasg-item p{
		margin: 0;
	}
	.rasg-section.detail-5presents li.rasg-item{
		padding: 12px 1% 12px;
		width: 16%;
		min-width: 16%;
		min-height: 316px;
		margin-bottom: 15px;
	}
		.rasg-section.detail-5presents li.rasg-item .prod-name{
			font-size: 15px;
			line-height: 20px;
		}

	.rasg-section li.plus{
		padding: 20px 0 15px;
		margin: 0 auto;
	}

		.rasg-section li.rasg-item .condition,
		.rasg-section li.rasg-item .condition i{
			color: #2ca314;
			font-size: 19px !important;
			line-height: 22px !important;
			font-weight: 700 !important;
		}
		.rasg-section li.plus{
			font-size: 48px;
			line-height: 48px;
			font-weight: 700;
			color: #AEAEAE;
			text-align: center;
		}

/**
 * <= 991
 * ----------------------------------------------------------------------------
*/
@media (max-width: 991px) {
	.rasg-section.detail-5presents{
		margin-bottom: 30px;
	}
	.rasg-section.detail-5presents li.rasg-item{
		display: block;
		width: 100%;
		min-height: 0;
		margin-bottom: 0;
	}
}
